@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');

body { 
    margin: 0;    
    width: 100%;
}

/* For Navigation */
.mainmenu {
    z-index: 1;
    position: fixed;
    background-color: black;
    display: flex;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
}
.nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style: none;
}
.bar a {
    font-family: 'Poppins';
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    color: white;
    height: 50px;
    width: 99 px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 0px 10px 0px 10px;
}

.bar a:hover:not(.activepage) {
    background-color: rgb(8, 0, 116);
    transition: 0.6s ease-in;
}
.bar a:not(:hover) {
    transition: 0.6s ease-in;
}
.activepage {
    background-color: rgb(12, 0, 185);
    text-decoration: none !important;
}

.logo {
    margin-right: 40px;
    margin-left: 10px;
    display: flex;
    user-select: none;
    align-items: center;
}
.srch {
   margin-left: 39em;
   background-color: transparent;
   border: 2px solid blue;
   border-top-left-radius: 2px;
   border-bottom-left-radius: 2px;
   width: 20em;
   height: 30px;
   border-right: none;
   outline: none;
   color: white;
   padding-left: 5px;
   user-select: none;
}
.btn {
    width: 2em;
    height: 30px;
    border: 2px solid blue;
    background-color: blue;
    color: white;
    padding: 0;
    margin: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}
.hide-from-mobile {
    list-style-type: none;
    user-select: none;
}
.notice {
    z-index: 1;
    background-color: green;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
}
.notice p {
    font-family: arial;
    font-size: 16px;
    color: #fff;
}
@media (max-width:479px) {
    body {
        width: 100vw;
    }
    .notice {
        width: 100vw;
        height: 45px;
        font-size: 12px;
        text-align: center;
    }
    .mainmenu {
        width: 100vw;
    }
    .srch {
        display: none;
    }
    .btn {
        display: none;
    }
    .logo {
        margin-left: -20px;
    }
    .bar {
        display: none;
    }
    .hide-from-mobile {
        display: none;
    }
}
@media (min-width:480px) and (max-width:600px) {
    .srch {
        display: none;
    }
    .btn {
        display: none;
    }
    .logo {
        margin-left: -20px;
    }
    .bar {
        display: none;
    }
    .hide-from-mobile {
        display: none;
    }
}

/* End of Navigation */

/* For Banner */

.banner {
    background-image: url('./images/space-banner.jpg');
    background-size: cover;
    height: 85vh;
    background-position: center bottom;
    width: 100%;
    top: 80px;
    position: fixed;
    margin-top: 0px;
    text-align: center;
}

.banner:after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .45;
    z-index: -1;
}

.banner h1 {
    color: white;
    font-family: 'Poppins';
    font-size: 85px;
    padding-top: 5%;
}
.banner p {
    color: white;
    font-family: arial;
    font-size: 21px;
    margin-top: -65px;
}
.banner-btn {
    width: 140px;
    display: inline-block;
    height: 50px;
    background-color: blue;
    outline: none;
    border: none;
    border-radius: 3px;
    border: 2px solid BLUE;
    color: white;
    font-family: 'Poppins';
    cursor: pointer; 
    font-size: 19px;
    margin-top: 0px;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    
}
.banner-btn:hover {
    background-color: rgb(8, 0, 116);
    border-color: rgb(8, 0, 116);
    animation: shake 1.5s infinite;
}
@keyframes shake {
    0% { transform: translateY(0); }
    10% { transform: translateY(-5px); }
    20% { transform: translateY(5px); }
    30% { transform: translateY(-2px); }
    40% { transform: translateY(2px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(0); }
}
@media (max-width:479px) {
    .banner {
        width: 100vw;
        background-size: none;
    }
    .banner h1 {
        font-size: 40px;
        padding-top: 35%;
    }
    .banner p {
        font-size: 15px;
        width: 90%;
        margin: -20px auto 15px auto;
    }
}
@media (min-width:480px) and (max-width:600px) {
    .banner h1 {
        font-size: 55px;
        padding-top: 25%;
    } 
    .banner p {
        width: 90%;
        font-size: 18px; 
        margin: auto; 
        margin-top: -45px;
        margin-bottom: 10px;

    }
}


/* End of banner */

.content {
    width: 100%;
    position: relative;
    background: white;
    top: 600px;
    height: 500px;
}
.content-area {
    width: 100%;
    position: absolute;
    background: white;
    height: 500px;
    top: 0;
}
.content-page {
    position: sticky;
    color: #000;
    bottom: 0;
    width: 80%;
    margin: auto;
    text-align: center;
}
.content-page h2 {
    font-size: 40px;
    margin: 0;
    padding-top: 25px;
    font-family: 'Poppins';
}
.content-page p {
    font-family: 'Lato';
    margin-top: -9px;
    font-size: 16px;
    padding: 2% 0;
    line-height: 25px;
    text-align: center;
}

@media (max-width:479px) {
    .content {
        width: 100%;
        height: 110vh;
        top: 570px;
      }
      
      .content-area {
        height: 150%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .content h2 {
        font-size: 25px;
      }
      .content-page p {
        font-size: 14px;
        margin-top: 10px;
      }
}
@media (min-width:480px) and (max-width:600px) {
    .content {
        position: relative;
        height: 1400px;
        top: 600px;
    }
    .content-area {
        top: 400px;
        margin-top: 50px;
    }
    .content-page {
        margin-top: -400px;
        width: 85%;
    }
    .content-page h2 {
        font-size: 30px;
        padding: 0;      
    }
    .content-page p {
        font-size: 15px;
        margin-top: 10px;
    }
}

/* For footer */

#footer {
    font-family: arial;
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 280px;
    top: 1100px;
    
}
.footer {
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.nav-merge {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.nav-footer {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 35px;
    margin-bottom: auto;
    list-style: none;
}
.nav-footer2 {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 35px;
    margin-bottom: auto;
    list-style: none;
}
.nav-footer3 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 42px;
    margin-bottom: auto;
    list-style: none;
}
.bar-footer2 a {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: 'Lato';
}
.bar-footer { 
    margin: 5px 0px 5px 0px;
}
.bar-footer a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Lato' !important;
}
.nav-footer4 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 42px;
    margin-bottom: auto;
    list-style: none;
}
.newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.footer-srch {
    background-color: transparent;
    padding-left: 10px;
    border: 2px solid blue;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 250px;
    height: 40px;
    border-right: none;
    outline: none;
    color: white;
    user-select: none;
 }
 .footer-btn {
    font-family: 'helvetica';
    width: 80px;
    text-align: center;
    outline: none;
    border-left: none;
    height: 46px;
    border: 2px solid blUE;
    background-color: blue;
    color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    user-select: none;
 }
 
 .accept-cookies {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: arial;
    font-size: 12px;
    margin-top: 5px;
 }

.accept-cookies input[type=checkbox] {
    outline: 1.5px solid blue;
    accent-color: blue;
    margin-right: 5px;
}

.copyright {
    font-family: 'Lato';
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.copyright-line {
    background-color:rgba(253, 253, 253, 0.103);
    width: 100%;
    height: 3px;
    margin-top: 30px;
}
.copyright-text {
    padding: 16px 0 0 0;
    margin: 0;
}
@media (max-width:479px) {
    #footer {
        top: 220%;
        width: 100%;
    }
    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .nav-merge {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 0;
        
    }
    .nav-footer {
        padding-left: 0;
        margin-left: 10vw;
        width: 25%;
        align-content: left;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: left;
        margin-top: 35px;
        margin-bottom: auto;
        list-style: none;
    }
    .nav-footer2 {
        margin-left: 15vw;
        padding: 0;
        width: 39.5%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 35px;
        margin-bottom: auto;
        list-style: none;
    }
    .nav-footer3 {
        margin-left: 1hv;
        padding: 0;
        width: 78%;
    }
    .nav-footer4 {
        margin: 40px 0 0 -15px;
        width: 82%;
    }
    .nav-footer4 a {
        margin-top: 10px;
        margin-left: 0;  
        padding: 0;    
    }
    .footer-btn {

    }
    .footer-srch {
        margin-left: -2px;        
        width: 50vw;  
     }

    .accept-cookies {
        margin-left: 0px;
        gap: 2px
    }
    
    
    .copyright {
        font-family: arial;
        font-size: 13px;
        text-align: center;
        align-content: center;
        align-items: center;
        margin: 0;
        background-color: #000;
        height: 50px;
    }
    .copyright-line {
        margin-top: 0px;
        background-color: rgba(112, 112, 112, 0.6);
    }
    .copyright-text {
        padding-top: 17px;
        width: 100%;
        color: #fff;
    }
}
@media (min-width:480px) and (max-width:600px) {
    #footer {
        top: 1680px;
       
    }
    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .nav-merge {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }
    .nav-footer {
        margin-left: 0px;
        width: 200px;
        align-content: center;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 35px;
        margin-bottom: auto;
        list-style: none;
    }
    .nav-footer2 {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 35px;
        margin-bottom: auto;
        list-style: none;
    }
    .nav-footer3 {
        margin-left: -45px;
        width: 400px;
    }
    .nav-footer4 a {
        margin-left: -22px;       
    }
    
    .footer-srch {
        margin-left: -22px;        
        width: 320px;  
     }

    .accept-cookies {
        margin-left: 10px;
        gap: 10px
    }
    
    .accept-cookies input[type=checkbox] {
        outline: 1.5px solid blue;
        accent-color: blue;
        margin-left: -30px;
    }
    
    .copyright {
        font-family: arial;
        font-size: 13px;
        text-align: center;
        align-content: center;
        align-items: center;
        margin: 0;
        background-color: #000;
        height:  50px;
    }
    .copyright-line {
        margin-top: 0px;
        background-color: rgba(112, 112, 112, 0.6);
    }
    .copyright-text {
        padding-top: 17px;
        width: 100%;
        color: #fff;
    }
}

/* End of Footer */

.bottom {
    font-family: Verdana;
    position: fixed;
    top: 90px;
    background-color: blue;
    text-align: center; 
    border-radius: 5px;
    right: 4.5%;
    width: 40px;
    align-items: center;
    align-content: center;
    display: grid;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}
@media (max-width:600px) {
    .bottom {
        display: none;
        
    }
}

.header {
    position: relative;
    top: 44%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color:black;
    font-family: Helvetica;
}

.subheader {
    text-align: center;
    position: relative;
    top: 44%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: normal;
    color:black;
    font-family: "Roboto Mono", monospace;
}

/*
a:link {
    color: blue;
    cursor: pointer;
}
a:visited {
    color: blueviolet;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: red;
    text-decoration: underline;
}

table, td, th{
    border: 2px solid;
    border-color: black;
    border-collapse: collapse;
    font-family: Helvetica;
}
thead {
    background-color: rgb(219, 219, 219);
}
tbody {
    background-color: rgb(240, 240, 240);
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
}
*/
.hide {
    display: none;
}
::placeholder {
    color: rgba(255, 255, 255, 80%);
}
::-webkit-scrollbar {
    width: 15px;
    background-color: #d4d4d4;
    border-left: 1.5px solid rgb(112, 112, 112);
}
::-webkit-scrollbar-thumb {
    background-color: blue;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(8, 0, 116);
}

